@import './cds-bundle.css';


strong {
    font-family: 'NettoPro';
}

th {
    font-family: 'NettoPro';
    font-size: 12px;
}

td {
    font-family: 'NettoPro';
    font-size: 12px;
}

body {
    font-size: 12px;
}

img {
    width: 100%;
}

@media screen and (min-width:600px) {
    body {
        font-size: 16px;
    }

    th,
    td {
        font-size: 16px;
    }
}


.report {
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--cds-color-border-default);
    padding-bottom: 4px;
}

.header__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/** helpers **/

.color-success{
    color: var(--cds-color-feedback-success-main);
}
.color-alert{
    color: var(--cds-color-feedback-alert-main);
}
.color-error{
    color: var(--cds-color-feedback-error-main);
}